@model IEnumerable<StoreModels.Product>

@{
    ViewData["Title"] = "ShopList";
}

@using StoreModels;

<h1>ShopPage</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach(Inventory inv in ViewBag.inventory)
                {
                    if(inv.ISBN == item.ISBN)
                    {
                        @inv.Quantity;
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ISBN">Purchase</a> |
            </td>
        </tr>
}
    </tbody>
</table>
