@model IEnumerable<StoreModels.User>

@{
    ViewData["Title"] = "Store";
}

<h1>Store</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr><th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="CustomerOrders" asp-controller="Order" asp-route-id="@item.UserName" asp-route-order="Price" asp-route-by="asc">Related Orders</a> 
            </td>
        </tr>
}
    </tbody>
</table>
